body {
  font-family: "Cascadia Code", sans-serif;
  background-color: #f0f0f0;
  color: #333;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Neumorphism styles for Dark Mode */
body.dark-mode {
  background-color: #222;
  color: #ebebeb;
  transition: all 0.3s ease;
}

/* Neumorphism styles for the preferences form */
.preferences-form {
  background-color: #f0f0f0;
  border-radius: 16px;
  padding: 2rem;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5),
    -8px -8px 16px rgba(255, 255, 255, 0.05);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  max-width: 32rem;
  width: 100%;
}

.language-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.language-button {
  background-color: #007bff;
  color: #fff;
  padding: 1rem 1rem;
  border: 1px solid; /* 1px-Rand hinzufügen */
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1),
    -4px -4px 8px rgba(255, 255, 255, 0.5);
  flex: 1 0 calc(20% - 1rem);
  max-width: calc(20% - 1rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}

.language-button:hover {
  border-color: #48bb78;
  background-color: #48bb78;
  transform: scale(1.05);
}

.language-button.selected:hover {
  border-color: #cb3030;
  background-color: #cb3030;
  transform: scale(0.95);
}

body.dark-mode .language-button.selected {
  background-color: #48bb78;
}

.language-button.selected {
  background-color: #48bb78;
}

body.dark-mode .language-button:hover {
  border-color: #48bb78;
  background-color: #48bb78;
  transform: scale(1.05);
}

body.dark-mode .language-button.selected:hover {
  border-color: #cb3030;
  background-color: #cb3030;
  transform: scale(1.05);
}

body.dark-mode .language-button {
  background-color: #22222231;
  color: #eee;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5),
    -8px -8px 16px rgba(255, 255, 255, 0.05);
}

body.dark-mode .language-button:hover {
  background-color: #3333338f;
}

body.dark-mode .preferences-form {
  background-color: #22222244;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5),
    -8px -8px 16px rgba(255, 255, 255, 0.05);
}

/* Neumorphism styles for the input fields inside the preferences form */
.preferences-form .input {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0.5rem;
  margin-top: 0.5rem;
  transition: border-color 0.3s ease, background-color 0.3s ease;
  width: 100%;
}

body.dark-mode .preferences-form .input {
  border-color: #555;
  background-color: #333;
  color: #eee;
}

/* Neumorphism styles for the submit button inside the preferences form */
.preferences-form .submit-button {
  background-color: #007bff;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1),
    -4px -4px 8px rgba(255, 255, 255, 0.5);
  width: 100%;
  margin-top: 1rem;
}

.preferences-form .submit-button:hover {
  background-color: #0056b3;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
}

body.dark-mode .preferences-form .submit-button {
  background-color: #222;
  color: #eee;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5),
    -8px -8px 16px rgba(255, 255, 255, 0.05);
}

body.dark-mode .preferences-form .submit-button:hover {
  background-color: #333;
}

.confirmation-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 9999; /* Stellen Sie sicher, dass die Nachricht über anderen Inhalten liegt */
}

body.dark-mode .confirmation-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #222;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5),
    -8px -8px 16px rgba(255, 255, 255, 0.05);
  z-index: 9999; /* Stellen Sie sicher, dass die Nachricht über anderen Inhalten liegt */
}

::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
  transition: all 0.3s ease;
}

/* Scrollbalkengriff */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 3px solid transparent;
  background-clip: content-box;
}

/* Hover-Stil für den Scrollbalkengriff */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: all-scroll;
}

/* Track (nicht scrollbarer Bereich) */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Track-Farbe beim Hover */
::-webkit-scrollbar-track:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Scrollbalkenpfeil-Buttons */
::-webkit-scrollbar-button {
  display: none; /* Ausblenden der Scrollbar-Pfeil-Buttons */
}

/* Ecken der Scrollleiste */
::-webkit-scrollbar-corner {
  background-color: transparent;
}
