body {
    font-family: SF Pro Medium, 'Helvetica Neue', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    transition: all 0.3s ease;
}

/* Neumorphism styles for Dark Mode */
body.dark-mode {
    background-color: #222;
    color: #eee;
    transition: all 0.3s ease;
}

/* Neumorphism styles for the form */
.neumorphism-form {
    background-color: #f0f0f0;
    border-radius: 16px;
    padding: 2rem;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5), -8px -8px 16px rgba(255, 255, 255, 0.05);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

body.dark-mode .neumorphism-form {
    background-color: #222;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5), -8px -8px 16px rgba(255, 255, 255, 0.05);
}

/* Neumorphism styles for the input fields */
.neumorphism-input {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0.5rem;
    margin-top: 0.5rem;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

body.dark-mode .neumorphism-input {
    border-color: #555;
    background-color: #333;
    color: #eee;
}

/* Neumorphism styles for the submit button */
.neumorphism-button {
    background-color: #007bff;
    color: #fff;
    font-family: SF Pro Medium, 'Helvetica Neue', sans-serif;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px rgba(255, 255, 255, 0.5);
}

.neumorphism-button:hover {
    background-color: #0056b3;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
}

body.dark-mode .neumorphism-button {
    background-color: #222;
    color: #eee;
    font-family: SF Pro Medium, 'Helvetica Neue', sans-serif;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5), -8px -8px 16px rgba(255, 255, 255, 0.05);
}

body.dark-mode .neumorphism-button:hover {
    background-color: #333;
}

/* Dark Mode styles for the checkbox */
.neumorphism-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 1.4em;
    height: 1.4em;
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.neumorphism-checkbox:checked {
    background-color: #007bff;
    border-color: #007bff;
}

/* Custom styles for the switch label */
.switch-label {
    margin-left: 0.5rem;
    font-size: 0.875rem;
    color: #333;
}

/* Dark Mode styles for the switch label */
body.dark-mode .switch-label {
    color: #eee;
}

/* Overlay styles */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    transition: all 0.3s ease;
}

.overlay-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

/* Hidden class */
.hidden {
    display: none;
    transition: all 0.3s ease;
}

.content-container {
    padding: 1rem;
    background-color: #f0f0f0;
    color: #333;
    font-family: SF Pro Medium, 'Helvetica Neue', sans-serif;
    border-radius: 16px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
    transition: all 0.3s ease;
}

body.dark-mode .content-container {
    padding: 1rem;
    background-color: #222;
    color: #eee;
    border-radius: 16px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5), -8px -8px 16px rgba(255, 255, 255, 0.05);
    margin-bottom: 20px;
    
}

    /* Neumorphism styles for the posts */
.post {
background-color: #f0f0f0;
border: 1px solid #ccc;
padding: 1rem;
margin-bottom: 1rem;
color: #333;
border-radius: 16px;
box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px rgba(255, 255, 255, 0.5);
transition: transform 0.3s ease, box-shadow 0.3s ease; /* Hinzugefügt für Hover-Effekt */
}

.post:hover {
transform: scale(1.02); /* Vergrößern des Posts beim Hover */
box-shadow: 0 0 16px rgba(0, 0, 0, 0.1); /* Schatteneffekt beim Hover */
}

/* Neumorphism styles for dark mode */
body.dark-mode .post {
background-color: #222;
border: 1px solid #333;
color: #eee;
box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5), -8px -8px 16px rgba(255, 255, 255, 0.05);
}

body.dark-mode .post:hover {
box-shadow: 0 0 16px rgba(0, 0, 0, 0.5); /* Schatteneffekt beim Hover */
transform: scale(1.02);
}

.scroll-to-top {
    position: fixed;
    bottom: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    z-index: 9999;
    display: none; /* Hide by default */
    width: 60px;
    height: 60px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px rgba(255, 255, 255, 0.5);
}

.scroll-to-top:hover {
    background-color: #0056b3;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
}

body.dark-mode .scroll-to-top {
    background-color: #222;
    color: #eee;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5), -8px -8px 16px rgba(255, 255, 255, 0.05);
}

body.dark-mode .scroll-to-top:hover {
    background-color: #333;
}

::-webkit-scrollbar {
width: 12px;
background-color: transparent;
transition: all 0.3s ease;
}

/* Scrollbalkengriff */
::-webkit-scrollbar-thumb {
background-color: rgba(0, 0, 0, 0.2);
border-radius: 10px;
border: 3px solid transparent;
background-clip: content-box;

}

/* Hover-Stil für den Scrollbalkengriff */
::-webkit-scrollbar-thumb:hover {
background-color: rgba(0, 0, 0, 0.3);
cursor: all-scroll    
}

/* Track (nicht scrollbarer Bereich) */
::-webkit-scrollbar-track {
background-color: transparent;
}

/* Track-Farbe beim Hover */
::-webkit-scrollbar-track:hover {
background-color: rgba(0, 0, 0, 0.1);
}

/* Scrollbalkenpfeil-Buttons */
::-webkit-scrollbar-button {
display: none; /* Ausblenden der Scrollbar-Pfeil-Buttons */
}

/* Ecken der Scrollleiste */
::-webkit-scrollbar-corner {
background-color: transparent;
}

/* Neumorphismus-Stil für den Dark/White Mode Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.profile-container {
    margin-bottom: 30px; /* Add margin at the bottom of the profile container */
}
.content-container {
    padding: 0 20px; /* Add padding to the content container */
}

.action-buttons {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.action-buttons a {
    margin: 0 10px;
}