body {
  font-family: "Cascadia Code", sans-serif;
  color: #333;
  transition: all 0.3s ease;
  user-select: none;
}

/* Neumorphism styles for Dark Mode */
body.dark-mode {
  background-color: #222;
  color: #eee;
  transition: all 0.3s ease;
}

/* Neumorphism styles for the form */
.neumorphism-form {
  background-color: #f0f0f0;
  border-radius: 16px;
  padding: 2rem;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5),
    -8px -8px 16px rgba(255, 255, 255, 0.05);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

body.dark-mode .neumorphism-form {
  background-color: #222;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5),
    -8px -8px 16px rgba(255, 255, 255, 0.05);
}

/* Neumorphism styles for the input fields */
.neumorphism-input {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0.5rem;
  margin-top: 0.5rem;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

body.dark-mode .neumorphism-input {
  border-color: #555;
  background-color: #333;
  color: #eee;
}

/* Neumorphism styles for the submit button */
.neumorphism-button {
  background-color: #007bff;
  color: #fff;
  font-family: "Cascadia Code", sans-serif;
  padding: 0.5rem 1rem;
  border: none;
  border: 1px solid; /* 1px-Rand hinzufügen */
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1),
    -4px -4px 8px rgba(255, 255, 255, 0.5);
}

.neumorphism-button:hover {
  background-color: #0056b3;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
}

body.dark-mode .neumorphism-button {
  background-color: #222;
  color: #eee;
  font-family: "Cascadia Code", sans-serif;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5),
    -8px -8px 16px rgba(255, 255, 255, 0.05);
}

body.dark-mode .neumorphism-button:hover {
  background-color: #333;
}

/* Dark Mode styles for the checkbox */
.neumorphism-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 1.4em;
  height: 1.4em;
  border: 2px solid #ccc;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.neumorphism-checkbox:checked {
  background-color: #007bff;
  border-color: #007bff;
}

/* Custom styles for the switch label */
.switch-label {
  margin-left: 0.5rem;
  font-size: 0.875rem;
  color: #333;
}

/* Dark Mode styles for the switch label */
body.dark-mode .switch-label {
  color: #eee;
}

/* Overlay styles */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transition: all 0.3s ease;
}

.overlay-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

/* Hidden class */
.hidden {
  display: none;
  transition: all 0.3s ease;
}

.content-container {
  padding: 1rem;
  background-color: #f0f0f0;
  color: #333;
  font-family: "Cascadia Code", sans-serif;
  border-radius: 16px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1),
    -4px -4px 8px rgba(255, 255, 255, 0.5);
  margin-bottom: 20px;
  transition: all 0.3s ease;
}

body.dark-mode .content-container {
  padding: 1rem;
  background-color: #222;
  color: #eee;
  border-radius: 16px;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5),
    -8px -8px 16px rgba(255, 255, 255, 0.05);
  margin-bottom: 20px;
}

/* Neumorphism styles for the posts */
.post {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 1rem;
  color: #333;
  border-radius: 16px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1),
    -4px -4px 8px rgba(255, 255, 255, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Hinzugefügt für Hover-Effekt */
}

.post:hover {
  transform: scale(1.03); /* Vergrößern des Posts beim Hover */
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1); /* Schatteneffekt beim Hover */
}

/* Neumorphism styles for dark mode */
body.dark-mode .post {
  background-color: #222;
  border: 1px solid #333;
  color: #eee;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5),
    -8px -8px 16px rgba(255, 255, 255, 0.05);
}

body.dark-mode .post:hover {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5); /* Schatteneffekt beim Hover */
  transform: scale(1.03);
}

.scroll-to-top {
  position: fixed;
  bottom: 20px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
  z-index: 9999;
  display: none; /* Hide by default */
  width: 60px;
  height: 60px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1),
    -4px -4px 8px rgba(255, 255, 255, 0.5);
}

.scroll-to-top:hover {
  background-color: #0056b3;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
}

body.dark-mode .scroll-to-top {
  background-color: #222;
  color: #eee;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5),
    -8px -8px 16px rgba(255, 255, 255, 0.05);
}

body.dark-mode .scroll-to-top:hover {
  background-color: #333;
}

::-webkit-scrollbar {
  width: 8px; /* Breite der Scrollleiste */
  transition: width 0.3s ease; /* Übergangseffekt für die Breite */
}

::-webkit-scrollbar-track {
  background: transparent; /* Hintergrundfarbe der Scrollleiste */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Farbe des Scrollleisten-Griffs */
  border-radius: 8px; /* Radius der Scrollleisten-Griffkanten */
}

/* Neumorphismus-Stil für den Dark/White Mode Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Hintergrundbild für die Profilkarte */
.profile-card {
  position: relative;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #333;
}

/* Dunkler Modus für die Profilkarte */
body.dark-mode .profile-card {
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); /* Umgekehrter Schatten für Dark Mode */
}

/* Dunkler Modus für den verschwommenen Hintergrund */
body.dark-mode .profile-card::before {
  background-image: url(""); /* Dunkles Hintergrundbild für den Dark Mode */
}

/* Profilbild-Stile */
.profile-picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin: -60px auto 20px auto;
  border: 5px solid #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Dunkler Modus für das Profilbild */
body.dark-mode .profile-picture {
  border: 5px solid #333; /* Dunkler Rand */
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); /* Umgekehrter Schatten */
}

/* Profilinformationen */
.profile-info {
  text-align: center;
  margin-bottom: 20px;
  position: relative; /* Relative Positionierung für den Text */
}

/* Dunkler Modus für Profilinformationen */
body.dark-mode .profile-info {
  color: #eee; /* Hellere Textfarbe */
}

/* Neumorphismus-Stil für den Text */
.profile-info h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  position: relative; /* Relative Positionierung für Textschatten */
  z-index: 1; /* Text über dem verschwommenen Hintergrund */
}

/* Dunkler Modus für den Titel */
body.dark-mode .profile-info h1 {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Dunkler Textschatten */
}

/* Beschreibung */
.profile-info p {
  color: #777;
  font-size: 16px;
  position: relative; /* Relative Positionierung für Textschatten */
  z-index: 1; /* Text über dem verschwommenen Hintergrund */
}

/* Dunkler Modus für die Beschreibung */
body.dark-mode .profile-info p {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Dunkler Textschatten */
}

/* Follower- und Folgende-Sektion */
.follower-following-section {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.follower-section,
.following-section {
  text-align: center;
  margin: 0 10px;
}

/* Overlay styles */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transition: all 0.3s ease;
}

.overlay-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

/* Hidden class */
.hidden {
  display: none;
  transition: all 0.3s ease;
}

.content-container {
  padding: 1rem;
  background-color: #00000098;
  color: #333;
  border-radius: 16px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1),
    -4px -4px 8px rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease;
}

body.dark-mode .content-container {
  padding: 1rem;
  background-color: #00000098;
  color: #eee;
  border-radius: 16px;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5),
    -8px -8px 16px rgba(255, 255, 255, 0.05);
}

.post-grid {
  display: grid;
  grid-template-columns: auto;
  gap: 20px; /* Hier können Sie den Abstand zwischen den Posts anpassen */
  text-overflow: clip;
}

@media (min-width: 768px) {
  .post-grid {
    grid-template-columns: repeat(
      2,
      auto
    ); /* Zwei Spalten ab einer Bildschirmbreite von 768px */
  }
}

@media (min-width: 1024px) {
  .post-grid {
    grid-template-columns: repeat(
      3,
      auto
    ); /* Drei Spalten ab einer Bildschirmbreite von 1024px */
  }
}

.post {
  background-color: #f0f0f0;
  border-radius: 8px;
  cursor: pointer;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 1rem;
  color: #333;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1),
    -4px -4px 8px rgba(255, 255, 255, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Hinzugefügt für Hover-Effekt */
  text-overflow: clip;
}

/* Stil für das Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Hintergrundfarbe mit Transparenz */
  display: flex;
  justify-content: center; /* Zentrieren des Inhalts horizontal */
  align-items: center; /* Zentrieren des Inhalts vertikal */
  z-index: 1000; /* Z-Index, um das Overlay über anderen Inhalten zu platzieren */
}

/* Stil für das Feld im Overlay */
.overlay-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 80%; /* Maximale Breite des Inhalts */
  max-height: 80%; /* Maximale Höhe des Inhalts */
  overflow-y: auto; /* Scrollen, wenn der Inhalt zu groß ist */
}

/* Stil für das Feld im Overlay */
.overlay-content {
  background-color: rgba(100, 100, 100, 0.651);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 80%; /* Maximale Breite des Inhalts */
  max-height: 80%; /* Maximale Höhe des Inhalts */
  overflow-y: auto; /* Scrollen, wenn der Inhalt zu groß ist */
}

/* Stil für den Schließen-Button */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-family: "Cascadia Code", sans-serif;
}

/* Stil für den Schließen-Button */
body.dark-mode .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-family: "Cascadia Code", sans-serif;
}

.hidden {
  display: none;
}

.post:hover {
  transform: scale(1.02); /* Vergrößern des Posts beim Hover */
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1); /* Schatteneffekt beim Hover */
}

/* Neumorphism styles for dark mode */
body.dark-mode .post {
  background-color: #222;
  border: 1px solid #333;
  color: #eee;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5),
    -8px -8px 16px rgba(255, 255, 255, 0.05);
}

body.dark-mode .post:hover {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5); /* Schatteneffekt beim Hover */
  transform: scale(1.02);
}

/* Standard-Styling für das Overlay */
#full-post-content {
  background-color: rgba(100, 100, 100, 0.651); /* Standard-Hintergrundfarbe */
  color: black; /* Standard-Schriftfarbe */
  border-radius: 10px; /* Rundung der Ecken */
  padding: 20px; /* Innenabstand */
  margin: 10px; /* Außenabstand */
}

/* Dark-Mode-Styling für das Overlay */
body.dark-mode #full-post-content {
  background-color: rgba(
    100,
    100,
    100,
    0.274
  ); /* Dunkler Hintergrund im Dark-Mode */
  color: whitesmoke; /* Standard-Schriftfarbe */
}

/* Dropdown-Menü-Stil */
.dropdown-menu {
  position: absolute;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 8px 0;
  animation: fade-in 0.3s ease-in-out;
  border: 1px solid #666; /* Strich zwischen den Optionen */
  margin-top: 8px; /* Abstand vom Badge */
}

/* Stil für Dark Mode des Dropdown-Menüs */
body.dark-mode .dropdown-menu {
  background-color: #333;
  color: white;
}

/* Stil für die Optionen im Dropdown-Menü */
.dropdown-menu div {
  padding: 8px 20px; /* Innenabstand der Optionen */
  cursor: pointer;
  border-bottom: 1px solid #ccc; /* Strich zwischen den Optionen */
}

/* Stil für die Optionen im Dropdown-Menü beim Hover */
.dropdown-menu div:hover {
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc; /* Strich zwischen den Optionen */
}

/* Stil für Dark Mode des Dropdown-Menüs */
body.dark-mode .dropdown-menu {
  background-color: #333;
  color: white;
  border: 1px solid #666; /* Strich zwischen den Optionen */
}

/* Stil für die Optionen im Dropdown-Menü im Dark Mode */
body.dark-mode .dropdown-menu div {
  border-bottom: 1px solid #666; /* Strich zwischen den Optionen */
}

.dropdown-menu div:first-child {
  border-top: 1px solid #666; /* Strich über dem ersten Element */
}

body.dark-mode .dropdown-menu div:first-child {
  border-bottom: 1px solid #666; /* Strich zwischen den Optionen */
}

/* Stil für die Optionen im Dropdown-Menü beim Hover im Dark Mode */
body.dark-mode .dropdown-menu div:hover {
  background-color: #444;
  border-bottom: 1px solid #999; /* Strich zwischen den Optionen */
}

/* Animation */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.action-buttons {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.action-buttons a {
  margin: 0 10px;
}
